# Ignorar archivos de entorno virtual
env/
venv/

# Ignorar archivos compilados de Python
__pycache__/
*.pyc
*.pyo

# Ignorar logs y configuraciones locales
*.log
.vscode/

# Archivos de dependencias (si usas SQLite)
*.sqlite3
